# Documentation files
docs/* @LisaDelaney @kiritigowda @rrawther
*.md  @LisaDelaney @kiritigowda @rrawther
*.rst  @LisaDelaney
# Header directory
library/include/*  @LisaDelaney @kiritigowda @rrawther
# Source code
@kiritigowda @rrawther
