# Documentation files
docs/* @randyh62 @kiritigowda @rrawther
*.md  @randyh62 @kiritigowda @rrawther
*.rst  @randyh62
# Header directory
library/include/*  @randyh62 @kiritigowda @rrawther
# Source code
@kiritigowda @rrawther
